.homepage {
    background-color: #f8f9fa;
  }
  
  .admin-section {
    background-color: #343a40;
    color: white;
  }
  
  .employee-section {
    background-color: white;
  }
  
  button {
    font-size: 18px;
    border-radius: 5px;
  }
  